.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;    
}

.form_control label {
    margin-bottom: 0.6em; /* Ajusta o espaço abaixo da label */
    font-weight: bold; /* Deixa a label em negrito */
    display: inline; /* Garante que a label e o texto permanecem na mesma linha */
}




.form_control input::placeholder{
    color: #7b7b7b ;    
}


.form_control input {
    width: 100%; /* Ajusta o campo para ocupar a largura total disponível */
    padding: 0.7em;
    border-radius: 4px; /* Arredondamento sutil */
    border: 1px solid #ccc; /* Borda cinza clara */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave ao focar */
}





.form_control input:focus {
    border-color: #007bff; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adiciona um brilho ao focar */
}