/* Variáveis de cor */
:root {
    --primary-color: #ffcc66;
    --primary-hover-color: #ffbb33;
    --text-color: #222;
    --text-light-color: #7a7a7a;
    --bg-title: #222;
    --bg-title-hover: #444;
}

/* Contêiner dos cartões */
.empresa_card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 2em; /* Espaço horizontal de 2em e vertical de 1em */
}

/* Estilo do cartão */
.empresa_card {
    padding: 2em;
    border: 1px solid var(--text-light-color);
    border-radius: 5px;
    width: calc(50% - 2em);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center; /* Adiciona alinhamento centralizado */
    margin: 1%;
}

.empresa_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.empresa_card h4 {
    background-color: var(--bg-title);
    color: #ffbb33;
    padding: .5em;
    margin-bottom: 1.3em;
    font-size: 1.5em;
    transition: background-color 0.2s;
}

.empresa_card h4:hover {
    background-color: var(--bg-title-hover);
}

.empresa_card p {
    color: var(--text-light-color);
    margin-bottom: 1em;
    font-size: 1.1em;
    line-height: 1.5;
}

.empresa_card p span {
    font-weight: bold;
}

/* Estilo para o contêiner dos botões */
.button_container {
    display: flex;
    flex-wrap: wrap; /* Permite que os botões quebrem para a linha seguinte */
    gap: 10px; /* Espaçamento entre os botões */
}

/* Estilo dos botões para se ajustarem ao contêiner */
.button_container > * {
    flex: 1 1 48%; /* Permite que o botão ocupe cerca de 48% do espaço disponível */
    padding: 0.8em;
    border: none;
    border-radius: 3px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.button_container > *:hover {
    background-color: var(--primary-hover-color);
    color: #111;
}

/* Responsividade */
@media (max-width: 768px) {
    .empresa_card {
        width: 100%;
        padding: 1em;
        margin: 1em 0;
        font-size: 0.9em;
    }

    .empresa_card h4 {
        font-size: 1.3em;
    }

    .button_container {
        flex-direction: column;
    }

    .button_container > * {
        flex: none;
        width: 100%;
    }
}
