.footer{
    background-color: #222;
    color: #fff;
    padding: 0.5em;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin:  1em;
}

.social_list li:hover{
    color: #0e76a8;
    background-color: #fff;
    
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 1.2em ;
    
}

.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}

.social_list a {
    color: inherit; /* Herda a cor do pai, que é branco */
    text-decoration: none; /* Remove o sublinhado do link */
}

.social_list a:visited {
    color: inherit; /* Garante que a cor do link visitado seja a mesma que a do pai */
}